.footer {
  margin-top: 10rem;
  padding: 1rem;
  background-color: rgb(243, 246, 247);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  display: flex;
}

.custom-style {
  color: #236184 !important;
  font-weight: bold;
}
